<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
  <div class="container">
      <div class="card">
          <div class="card-body">
              <div th:switch="${allLists}" class="container my-5">
                  <div class="col-md-10">
                      <div th:case="*">
                          <table class="table table-striped table-responsive-md">
                              <thead>
                              <th>Id</th>
                              <th>Title</th>
<!--                              <th>Status</th>-->
<!--                              <th>Note</th>-->
                              </thead>
                              <tbody>
                              <tr th:each="list: ${allLists}">
                                  <td th:text="${list.getListId()}"></td>
                                  <td th:text="${list.getListTitle()}"></td>
<!--                                  <td th:text="${todo.getStatus()}"></td>-->
<!--                                  <td  th:text="${todo.getNote()}"></td>-->
                                  <td>
                                      <a th:href="@{/view/{listId}(listId=${list.listId})}" class="btn btn-warning">
                                          <button class="btn btn-warning">View</button>
                                      </a>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                  </div>
              </div>
      </div>
  </div>
 </div>
</div>
</body>
</html>